<div class="step">
    <h3 class="main_question">
        <i class="arrow_right"></i>
        Apakah kebotakan yang kamu derita terjadi pada beberapa tempat?
    </h3>
    <div class="form-group">
        <label class="container_radio version_2">Ya
            <input type="radio" name="question" value="19" class="required question" />
            <span for="question" class="error validateError" style="display: none;">Required</span>
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Tidak
            <input type="radio" name="question" value="0" class="required question" />
            <span class="checkmark"></span>
        </label>
    </div>
</div>