<div class="step">
    <h3 class="main_question">
        <i class="arrow_right"></i>
        Pilih satu gejala / kondisi yang kamu alami dari pilihan dibawah :
    </h3>
    <div class="form-group">
        <label class="container_radio version_2">Mengalami kerontokan rambut
            <input type="radio" name="question" value="2" class="required question" />
            <span for="question" class="error validateError" style="display: none;">Required</span>
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Memiliki anggota keluarga yang mengalami gejala kerontokan
            atau kebotakan rambut
            <input type="radio" name="question" value="9" class="required question" />
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Mengidap penyakit lain yang dapat menyebabkan kebotakan
            <input type="radio" name="question" value="10" class="required question" />
            <span class="checkmark"></span>
        </label>
    </div>
</div>