<div class="step">
    <h3 class="main_question">
        <i class="arrow_right"></i>
        Pilih satu gejala / kondisi yang kamu alami dari pilihan dibawah :
    </h3>
    <div class="form-group">
        <label class="container_radio version_2">Memiliki kebotakan berbentuk bulatan
            <input type="radio" name="question" value="1" class="required question" />
            <span for="question" class="error validateError" style="display: none;">Required</span>
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Mengalami kerontokan rambut akut
            <input type="radio" name="question" value="13" class="required question" />
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Memiliki koreng pada area kulit kepala
            <input type="radio" name="question" value="4" class="required question" />
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Sedang menjalani kemoterapi
            <input type="radio" name="question" value="11" class="required question" />
            <span class="checkmark"></span>
        </label>
        <label class="container_radio version_2">Sering melakukan catok rambut
            <input type="radio" name="question" value="14" class="required question" />
            <span class="checkmark"></span>
        </label>
    </div>
</div>