<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Sistem Pakar Pendeteksi Alopecia Berbasis CLIPS" />
    <meta name="author" content="Juan Martin Limas Indrajaya" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>SISTEM PAKAR PENDETEKSI ALOPECIA BERBASIS CLIPS</title>

    <link rel="shortcut icon" href="static/assets/img/clipslogo.png" type="image/x-icon" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />

    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/assets/css/landing/style.css" rel="stylesheet" />

</head>

<body>

    <header>
        <div class="container-fluid">

        </div>
    </header>
    <!-- /header -->

    <div class="hero_single version_3">
        <div class="wrapper">
            <h1>Aplikasi Sistem Pakar<span>Pendeteksi Penyakit Alopecia Berbasis CLIPS</span></h1>
            <div class="container">
                <p><a href="/questions" class="btn_1">Start</a></p>
            </div>
        </div>
    </div>

    <!-- COMMON SCRIPTS -->
    <script src="static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="static/assets/js/velocity.min.js"></script>
    <script src="static/assets/js/common_functions.js"></script>
    <script src="static/assets/js/script.js"></script>

</body>

</html>